@import url("https://fonts.googleapis.com/css2?family=Alef&family=Open+Sans&display=swap");

body {
  margin: 0;
  /*background-image: url("./images/background.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.description > p {
  font-family: "open sans", sans-serif;
  font-size: 2vh;
}

.description {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header {
  position: sticky;
  top: 0px;
  text-align: center;
  margin: 0px;
  font-family: "open sans", sans-serif;
  width: 100%;
  height: 50px;
  background-color: rgb(71, 124, 223);
}

.head {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: rgb(204, 204, 204);
}

.img1 {
  max-height: 45vh;
  width: auto;
  margin: auto;
}
